.container {
    width: 90%;
    
}

#left-col {
    background-color: whitesmoke;
    padding-bottom: 40px;
    min-height: 900px;
}

#city-input {
    height: 60px;
    width: 70%;
    max-width: 350px;
    position: relative;
    bottom: 17px;
    padding-left: 20px;
    font-size: 25px;
}

#search-btn {
    height: 60px;
    width: 60px;
    position: relative;
    right: 5px;
    background-color: #469ff2;
    border-radius: 10px ;
}

.city {
    width: 90%;
    height: 80px;
    border-style: solid;
    border-color: lightgray;
    border-width: 0px 2px 2px 2px;
    background-color: white;
    padding-inline-start: 40px;
    padding-top: 19px;
    font-size: 25px;
    font-weight: 500;
    
    
    
}

.first-city {
    margin-top: 20px;
    border-top-width: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.last-city {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

